$color-black: #000;
$color-white: #fff;
$color-aqua: #27c7ab;
$color-aqualight: #93e3d5;
$color-lightgray: #f0f0f0;
$color-mediumgray: #d5d5d5;
$color-darkgray: #9c9c9c;

$color-slider: #eaeaea;
$color-order: #f6f6f6;
$color-offer-title: rgba(256, 256, 256, 0.4);
$color-placeholder: #cacaca;
$color-h2: #606060;

$color-pricelist-gray1: #f9f9f9;
$color-pricelist-gray2: #e4e4e4;
$color-pricelist-gray3: #999;
$color-pricelist-gray4: #8d8d8d;
$color-pricelist-gray5: #f1f1f1;
$color-pricelist-border: #c2c2c2;

